<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Basic Vue Js - HelloWorld App</title>

  <!-- https://google.github.io/material-design-icons/#icon-font-for-the-web -->
  <!-- Using via Google Web Fonts -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  <!-- https://tailwindcss.com/docs/installation -->
  <!-- Using Tailwind via CDN -->
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />

  <!-- https://v3.vuejs.org/guide/installation.html#release-notes -->
  <!-- Vue CDN -->
  <script src="https://unpkg.com/vue@next"></script>

</head>

<body>


  <div id="app">
    <div class="text-center">
      <div class="pt-5">Number of city in this website {{test}}</div>
      <center>
        <div class="pl-64 pt-5">
          <a v-show="showmag" @click="[showsearch = !showsearch, mag]">
            <img class="w-10 pr-1" src="images/iconmonstr-magnifier-4-240.png">
          </a>
        </div>
      </center>
      <input type="text" v-show="showsearch" v-model="search" placeholder="Search for the place"
        class="p-2 bg-white rounded flex-1 border-b-2 border-blue-300">
      <button v-show="showsearch" v-model="search"
        @click="[search = '' , showsearch = !showsearch, showmag = !showmag] "
        class="bg-green-500 text-white  py-1 px-6 rounded">cancel</button>
    </div>

    <div v-if="filteredList != 0">
      <div v-for="picture in filteredList">
        <center>
          <div class="bg-black" >
            <a @click=" picture.bigpic = !picture.bigpic"> <img v-show="picture.bigpic" class="p-2 absolute w-16 right-0" src="images/iconmonstr-x-mark-7-240.png" alt=""></a>
            <div class=" max-w-5xl">
              <a>
                <img v-show="picture.bigpic" v-bind:src="picture.url">
              </a>
            </div>
          </div>
        </center>
        <div class="grid col-span-2 gap-6 my-6 px-4 md:px-6 lg:px-8">
          <div class="max-w-xl mx-auto px-4 py-4 bg-white shadow-md rounded-lg">
            <a @click="picture.bigpic = !picture.bigpic">
              <h1 class="text-3xl pb-3">{{picture.name}}</h1>
              <img class="w-52" v-bind:src="picture.url">
              <a>
                <div class="pt-3">
                  <a @click="picture.like = !picture.like"> <img v-if="picture.like == false"
                      src="images/iconmonstr-heart-thin-240.png" class="w-5">
                    <img v-else src="images/iconmonstr-favorite-3-240.png" class="w-5">
                  </a>
                </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else class="text-center pt-10"> No photo.</div>


  </div>





  <!-- my main.js -->
  <script src="./main.js"></script>
</body>

</html>